<!DOCTYPE html>
<html>
<head>
  <title>Rails TDD Examples</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor03"
          aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Rails TDD Examples</a>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to('New Achievement', new_achievement_path, :class => 'nav-link') %>
      </li>
    </ul>
    <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, :method => 'delete', :class => 'nav-link') %>
      </li>
    </ul>
    <% end %>
  </div>
</nav>

<main class="container">
  <div class="container main">
    <% if flash[:notice].present? %>
        <div class="notice">
          <p class="alert alert-success"> <%= flash[:notice] %> </p>
        </div>
    <% end %>

    <% if flash[:alert].present? %>
        <div class="error">
          <p class="alert alert-danger"> <%= flash[:alert] %> </p>
        </div>
    <% end %>


    <%= yield %>

  </div>
</main>

<footer class="footer bg-inverse">
  <div class="container">
    <span class="text-muted">&copy; Coderade.io</span>
  </div>
</footer>

</body>
</html>
